body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    color: #000000;
    padding: 30px;
}



nav ul li {
    display: inline;
    margin-right: 30px;
}





div.a{
    text-align: center;
}